<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.deng.myspringbootdemo01.dao.UserMapper">
    <select id="getAllUser" resultType="com.deng.myspringbootdemo01.model.UserDomain">
        select * from user
    </select>

    <select id="getUserByName" parameterType="String" resultType="com.deng.myspringbootdemo01.model.UserDomain">
        select * from user where name=#{name}
    </select>
</mapper>